numpy
librosa
opencv-contrib-python
opencv-python
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.18.0+cu118
tqdm
numba
mediapipe
https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl
git+https://github.com/elliottzheng/batch-face.git@master
ffmpeg-python
